@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.5;
}
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: #fbfbfb;
    color: #1a202c;
}
::selection {
    background: #008000;
    color: #fff;
}
a {
    color: #1a202c;
    text-decoration: none;
}
a:hover {
    color: #008000;
}
nav a {
    margin-left: 14px;
}
.section-home {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home {
    margin-bottom: 3rem;
}
.home h1 {
    margin-bottom: 2rem;
    font-size: 3.13rem;
}
.home h3 {
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.7rem;
}
.home p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.highlight {
    color: #008000;
}
.btn {
    color: #008000;
    background: #fff;
    border: 1px solid #008000;
    line-height: 1.9;
    border-radius: 0.25rem;
    font-weight: bold;
    height: 2.7rem;
    min-width: 2.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease; 
}
.btn:hover {
    content: 'red';
    background: #008000;
    color: #fff;
    box-shadow: 0px 4px 8px 0px rgb(170, 244, 148);
}