@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.5;
}
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: #fbfbfb;
    color: #1a202c;
}
a {
    color: #1a202c;
    text-decoration: none;
}
a:hover {
    color: #008000;
}